body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #8cb6bb;
}

header {
    background-color: #182428;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #182428;
    padding: 10px;
}

nav a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    .burger-menu {
        display: flex;
    }
    .burger-menu {
        order: -1;
        /* Переносим бургер-меню в начало строки */
    }
    nav {
        display: none;
        flex-direction: column;
    }
    nav.show-mobile {
        display: flex;
    }
}


/* Стили для компьютерной версии */

@media only screen and (min-width: 601px) {
    header {
        flex-direction: column;
    }
    nav {
        flex-direction: row;
    }
    nav a {
        margin: 0 15px;
        /* Добавлены отступы между элементами меню */
    }
}

.navigation-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: #182428;
    padding: 10px;
    transition: top 0.3s ease-in-out;
}

.navigation-panel a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.top-week-label {
    color: white;
    background-color: #182428;
    font-size: 24px;
    text-align: left;
    padding: 10px;
    /* margin-top: 40px; */
    transition: top 0.3s ease-in-out;
}


/* main {
    padding: 20px;
    margin-top: 80px;
} */

.gallery {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.artwork {
    position: relative;
    margin: 10px;
    width: calc(33.33% - 20px);
    overflow: hidden;
}

.artwork img {
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.artwork:hover img {
    transform: scale(1.1);
    filter: brightness(70%);
}

.artwork .like {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.artwork .like.liked {
    color: red;
}

.artwork .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #fff;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    max-width: 80%;
}

.artwork:hover .text {
    opacity: 1;
}

.exhibitions-label {
    color: white;
    background: #182428;
    font-size: 24px;
    text-align: left;
    margin-bottom: -17px;
    padding: 10px;
    margin-top: 20px;
    /* width: 100%; */
}

.register-label {
    color: white;
    background: linear-gradient(to right, #689d80, #182428, #182428);
    font-size: 32px;
    text-align: left;
    padding: 10px;
    height: 40px;
    /* margin-top: -5px; */
    /* width: 100%; */
}

.genres-label {
    color: white;
    background: #182428;
    font-size: 24px;
    text-align: left;
    padding: 10px;
    /* margin-top: 20px; */
    /* width: 100%; */
}

main {
    position: relative;
    width: 100%;
    height: 920px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item {
    width: 200px;
    height: 300px;
    /* margin-top: -17px; */
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
    &:nth-child(1),
    &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }
    &:nth-child(3) {
        left: 50%;
    }
    &:nth-child(4) {
        left: calc(50% + 220px);
    }
    &:nth-child(5) {
        left: calc(50% + 440px);
    }
    &:nth-child(6) {
        left: calc(50% + 660px);
        opacity: 0;
    }
}

.content {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
    & .title {
        font-family: 'arial-black';
        text-transform: uppercase;
    }
    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
    }
    & button {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
    & .btn {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.7);
        border: 2px solid rgba(0, 0, 0, 0.6);
        margin: 0 0.25rem;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}


/* Lazy Load Styles */

.card-image {
    display: block;
    min-height: 20rem;
    /* layout hack */
    background: #fff center center no-repeat;
    background-size: cover;
    filter: blur(3px);
    /* blur the lowres image */
}

.card-image>img {
    display: block;
    width: 100%;
    opacity: 0;
    /* visually hide the img element */
}

.card-image.is-loaded {
    filter: none;
    /* remove the blur on fullres image */
    transition: filter 1s;
}


/* Layout Styles */

.genres {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
    font-size: 16px;
    font-family: sans-serif;
}

.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.card {
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
}

.card-description>h2 {
    margin: 0 0 0.5em;
}

.card-description>p {
    margin: 0;
}

footer {
    background-color: #182428;
    /* цвет фона футера */
    color: #fff;
    padding: 20px;
    text-align: left;
    margin-top: -15px;
    /* выравниваем текст по левому краю */
    position: relative;
    /* margin-top: 50px; */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* выравниваем по центру по вертикали */
}

@media only screen and (max-width: 600px) {
    .artwork {
        width: calc(50% - 20px);
        /* Two items per row on mobile */
    }
    .exhibitions-label,
    .register-label,
    .genres-label {
        font-size: 18px;
    }
    .artwork .text {
        font-size: 12px;
        /* Further reduced font size for mobile */
        line-height: 1;
        /* Reduced line height for better spacing */
    }
    .item {
        height: 200px;
    }
    .slider {
        display: none;
        margin: 0;
        /* Remove any margin */
        padding: 0;
    }
    .exhibitions-label {
        display: none;
        margin: 0;
        /* Remove any margin */
        padding: 0;
    }
    main {
        height: auto;
    }
    .navigation-panel a:nth-child(2) {
        display: none;
    }
}